---
import { Image } from "astro:assets";
import MarkdownIt from "markdown-it";
const md = new MarkdownIt({ html: true });

// Define TypeScript interfaces
interface Testimonial {
  image: string;
  image_alt: string;
  author: string;
  designation: string;
  message: string;
}

interface Props {
  title: string;
  title_suffix: string;
  description: string;
  testimonials: Testimonial[];
}

const { title, title_suffix, description, testimonials } = Astro.props;
---

<section
  class="bg-black relative border-b border-gray-800 sm:border-b-0 overflow-hidden py-16 lg:py-20"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-center">
      <div class="lg:w-2/3 mx-auto text-center mb-12 lg:mb-16">
        <div class="testimonial-content pr-12 xl:pr-0 lg:text-center lg:pb-12">
          <h2
            class="text-white text-3xl sm:text-4xl xl:text-5xl font-bold mb-5 leading-tight"
          >
            <editable-text data-prop="title" data-type="span"
              >{title}</editable-text
            >
            <span
              class="text-primary"
              data-editable="text"
              data-prop="title_suffix"
            >
              {title_suffix}
            </span>
          </h2>
          <div
            class="text-xl md:text-2xl text-gray-300 font-medium leading-relaxed tracking-tight"
            data-editable="text"
            data-prop="description"
            set:html={md.render(description)}
          />
        </div>
      </div>
    </div>
    {
      testimonials?.length && (
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8"
          data-editable="array"
          data-prop="testimonials"
        >
          <template>
            <div data-editable="array-item">
              <div class="bg-white p-6 rounded-xl">
                <div class="flex items-center gap-4 mt-4 mb-4">
                  {
                    <div class="shrink-0">
                      <img
                        data-editable="image"
                        data-prop-src="image"
                        data-prop-alt="image_alt"
                        loading="lazy"
                        width={80}
                        height={80}
                        class="w-20 h-20 rounded-full object-cover"
                      />
                    </div>
                  }
                  <div class="flex-1">
                    <h3
                      class="font-semibold text-gray-900"
                      data-editable="text"
                      data-prop="author"
                    />
                    <p
                      class="text-gray-600"
                      data-editable="text"
                      data-prop="designation"
                    />
                  </div>
                </div>
                <p
                  class="text-gray-700 leading-relaxed"
                  data-editable="text"
                  data-prop="message"
                />
              </div>
            </div>
          </template>
          {testimonials?.map((testimonial: Testimonial, i: number) => (
            <div data-editable="array-item">
              <div class="bg-white p-6 rounded-xl">
                <div class="flex items-center gap-4 mt-4 mb-4">
                  {testimonial.image && (
                    <div class="shrink-0">
                      <Image
                        data-editable="image"
                        data-prop-src="image"
                        data-prop-alt="image_alt"
                        src={testimonial.image}
                        alt={testimonial.image_alt || ""}
                        loading="lazy"
                        width={80}
                        height={80}
                        class="w-20 h-20 rounded-full object-cover"
                      />
                    </div>
                  )}
                  <div class="flex-1">
                    <h3
                      class="font-semibold text-gray-900"
                      data-editable="text"
                      data-prop="author"
                    >
                      {testimonial.author}
                    </h3>
                    <p
                      class="text-gray-600"
                      data-editable="text"
                      data-prop="designation"
                    >
                      {testimonial.designation}
                    </p>
                  </div>
                </div>
                <p
                  class="text-gray-700 leading-relaxed"
                  data-editable="text"
                  data-prop="message"
                >
                  {testimonial.message}
                </p>
              </div>
            </div>
          ))}
        </div>
      )
    }
  </div>
</section>
