---
import PostSummary from "@components/blog/summary.astro";
import Heading from "@components/shared/Heading.astro";
import Layout, { type SEOProps } from "@layouts/Layout.astro";
import type { MarkdownLayoutProps } from "astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

type Props =
  | {
      title: string;
      date: Date;
      featured_image: {
        image: string;
        image_alt: string;
      };
      author: string;
      seo?: SEOProps;
      body: string;
      slug?: string;
    }
  | MarkdownLayoutProps<{
      title: string;
      date: Date;
      featured_image: {
        image: string;
        image_alt: string;
      };
      author: string;
      seo?: SEOProps;
    }>;

const props = "frontmatter" in Astro.props ? Astro.props.frontmatter : Astro.props;
const { title, date, featured_image, author } = props;
const content = "body" in Astro.props ? Astro.props.body : (Astro.props.rawContent() ?? "");
const wordCount = content.split(" ").length;
const readingTime = Math.floor(wordCount / 183);

const posts = await getCollection("blog");
---

<Layout {...props}>
  <section class="relative pt-36 pb-16 2xl:pt-48 xl:pt-40 sm:pt-32">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="w-full">
        <article class="relative">
          <div class="sm:text-center sm:mb-12 mb-6">
            <Heading
              level={1}
              size={2}
              text={title}
              data-editable="text"
              data-prop="title"
              label="title"
              class="font-semibold font-sora text-gray-800 mb-6 2xl:w-3/5 xl:w-4/5 w-full mx-auto"
            />
            <div class="mb-8">
              <ul class="flex flex-wrap justify-center sm:justify-center gap-6 text-gray-600 font-semibold text-base">
                <li class="flex items-center">
                  <p class="mb-0 text-primary">
                    {
                      date.toLocaleDateString(undefined, {
                        year: "numeric",
                        month: "long",
                        day: "numeric",
                      })
                    }
                  </p>
                </li>
                <li
                  class="relative pl-2 ml-5 flex items-center before:absolute before:content-[''] before:bg-gray-400 before:w-0.5 before:h-4 before:-left-3.5 before:top-1/2 before:-translate-y-1/2">
                  <p class="mb-0 text-primary">
                    <editable-text data-prop="author">{author}</editable-text>
                  </p>
                </li>
                <li
                  class="relative pl-2 ml-5 flex items-center before:absolute before:content-[''] before:bg-gray-400 before:w-0.5 before:h-4 before:-left-3.5 before:top-1/2 before:-translate-y-1/2">
                  <p class="mb-0 text-primary">{readingTime} <span>minutes</span></p>
                </li>
                <li
                  class="relative pl-2 ml-5 flex items-center before:absolute before:content-[''] before:bg-gray-400 before:w-0.5 before:h-4 before:-left-3.5 before:top-1/2 before:-translate-y-1/2">
                  <p class="mb-0 text-primary">{wordCount} <span>words</span></p>
                </li>
              </ul>
            </div>
          </div>
          {
            featured_image.image && (
              <div class=" mb-16 xl:mb-12 overflow-hidden">
                <div class="max-w-[1200px] max-h-96  lg:max-h-[666px] w-full h-[666px]">
                  <Image
                    data-editable="image"
                    data-prop-src="featured_image.image"
                    data-prop-alt="featured_image.image_alt"
                    width={1200}
                    height={666}
                    src={featured_image.image}
                    class="w-full h-full  max-w-full max-h-full object-cover rounded-2xl"
                    alt={featured_image.image_alt}
                  />
                </div>
              </div>
            )
          }
          <div class="max-w-4xl mx-auto prose lg:prose-xl">
            <editable-text data-prop="@content">
              <slot />
            </editable-text>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section class="relative py-28 xl:py-20 lg:py-12 bg-muted">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="w-full">
        <div class="mb-12">
          <Heading level={2} size={2} class="font-semibold font-sora text-gray-800"> Recent Blog </Heading>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {posts.slice(0, 3).map((post, i) => <PostSummary post={post} />)}
      </div>
    </div>
  </section>
</Layout>
